@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif !important;
  color: #50697e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.w17{
  width: calc(100vw - 17px);
}

.ant-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px;
  color: white !important;
  border: unset !important;
}
.ant-input-number-handler-wrap{
  display: none !important
}

.ant-input-number{
  width: unset;
}
.ant-select-single{
  height: unset !important
}
.ant-btn {
  font-family: 'Inter', sans-serif;
}
.ant-modal-content {
  padding: unset !important;
}
.ant-drawer-content-wrapper {
  box-shadow: unset !important;
}

::placeholder {
  color: #828282;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 63px;
  color: #333333;
}

.ant-pagination {
  display: flex;
  gap: 10px;
}

.ant-pagination-prev,
.ant-pagination-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 55px !important;
  height: 55px !important;
}

.ant-pagination-item {
  background: rgba(232, 242, 254, 0.6) !important;
  border-radius: 18px !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 40px !important;
  width: 55px !important;
  height: 55px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: unset !important;
  color: #716f7e;
}

.ant-pagination-item a {
  color: #716f7e !important;
}

.ant-pagination-item-active {
  background: linear-gradient(
    132.29deg,
    #2AC5F4 6.89%,
    #00CCA5 102.59%
  ) !important;
}

.ant-pagination-item-active a {
  background: #ffffff !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  opacity: 1 !important;
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev {
  height: 55px !important;
  display: flex !important;
  align-items: flex-end !important;
}

.swiper-pagination-bullet {
  background: #c0c0c0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #547aff !important;
  width: 40px !important;
  border-radius: 12px !important;
}

.swiper-slide-active span {
  width: 100% !important;
}

.ant-form input[type='file'] {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #97a6b8 !important;
}

.ant-select-multiple .ant-select-selection-placeholder {
  padding-left: 20px !important;
  padding-right: 35px !important;
}

.ant-tag-close-icon {
  color: white !important;
}

.ant-form-item-explain-error {
  padding-left: 15px;
}

.ant-select-selection-overflow::-webkit-scrollbar {
  display: none !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.ant-tooltip-inner {
  border-radius: 15px !important;
  opacity: 0.95;
}

.bgBlue {
  background-color: #edf8ff;
}

.bgPink {
  background-color: #ffebee;
}

.bgYellow {
  background-color: #fff3c7;
}

.bgGreen {
  background-color: #e2f2e6;
}

.bgViolet {
  background-color: #edf1fb;
}

.bgContent {
  background: linear-gradient(180deg, #f3f3f6 100%, #f3f3f6 100%);
}

.ant-modal-body {
  padding: 0 !important;
}

.ant-modal-content {
  border-radius: 24px !important;
  overflow: hidden;
}
.ant-dropdown-placement-bottomRight .ant-dropdown-arrow {
  right: 20px !important;
}

.ant-dropdown {
  z-index: 1002 !important;
}

.spanTitleVideoFocus {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  width: 368px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

video {
  outline: unset !important;
}

.customProgess .ant-progress-bg {
  height: 3px !important;
}

.ant-segmented {
  width: 100%;
  height: 36px;
  padding: 2px 3px;
  background: #f8f8f8;
  border: 0.5px solid #e7eae9;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.ant-segmented-group {
  width: 100%;
  justify-content: space-between;
  border-radius: 20px;
  height: 32px;
}
.ant-segmented-item {
  width: 50%;
  color: #36322d;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 24px;
  padding: 3px 0px;
  border-radius: 20px !important;
  &:hover {
    border-radius: 20px;
  }
  &:focus-visible {
    border-radius: 20px !important;
  }
}
hr {
  color: #D0D0D0;
}
h2 {
  margin-bottom: 0.5rem;
}

.buttonPulsing{
  position: relative;
  user-select:none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.buttonPulsing:hover {
  transition-duration: 0.1s;
  background-color: #f9bd00;
}

.buttonPulsing:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  box-shadow: 0 0 10px 50px #f9bd00;
}

.buttonPulsing:active:after {
  box-shadow: 0 0 0 0 #f9bd00;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.buttonPulsing:active {
  top: 1px;
}

.chatBtn{
  background-color: #E7EAE9;
}
.chatItem {
  background-color: #EAF9FE !important;
}
.bg-tagSelect {
    background-image: linear-gradient(271.89deg, #2AC5F4 0%, #00CCA5 113.16%) !important;
}

.removeBtn {
  background-color: #BDBDBD !important;
}
.zm-ant-message {
  z-index: 99999 !important;
}

div, .ant-tabs-tab-btn, .ant-tabs-tab, span, input, .text-base, .text-gradient, .text-xs, .text-ss, .text-sm, .text-lg, .text-xl, .text-2xl, a, textarea {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}

@media only screen and (max-width: 1279px) {
  .hideSmalScreen {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .hideSmalScreen768 {
    display: none;
  }
}